.statsPopupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.statsPopup {
    background-color: var(--black);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.statsPopup p {
    font-size: 1rem;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: var(--dark-gray);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: black;
    margin-top: 20px;
    font-size: 0.8125rem;
}

th {
    border-collapse: collapse;
    background-color: var(--dark-gray);
    padding: 10px;
    font-size: 1rem;
    color: var(--white);
    border-bottom: 1px solid var(--medium-gray);
}

td {
    background-color: var(--dark-gray);
    border-collapse: collapse;
    padding: 10px;
    color: var(--white);
}

tr:first-child {
    font-weight: bold;
}

.statsTeamLogo{
    max-width: 24px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

#teamAName,
#teamBName{
    text-align: left;
}

.statsPlayerName{
    text-align: left;
}

.statsPlayerPlusMinus{
    text-align: center;
}

.tables {
    display: flex;
    flex-direction: row;
    gap: 2em;
    white-space: nowrap;
}