@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); 

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.simulator {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.scoreContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team {
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

.teamLogo{
    max-width: 100px;
    margin-bottom: 10px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.teamLogo img {
    max-width: 48px;
    height: auto; 
}

.score {
    font-size: 24px;
    display: inline-block;
}

select {
    padding: 10px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #fff;
    color: #333; 
    width: 200px;
    cursor: pointer;
}

select::-ms-expand {
    display: none; 
  }
  
select option {
    padding: 5px;
    font-size: 14px;
}
  
select:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.teamSelector{
    margin-bottom: 10px;
}

.player {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    vertical-align: middle;
}

.flag{
    width: 19px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.buttons{
    text-align: center;
}

.playButton {
    background-color: #1dbf10;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.statsButton {
    display: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
}

